[Unit]
Description=NSRE Server
Documentation=https://github.com/sunshine69/nsre
#After=network-online.target firewalld.service
#Wants=network-online.target

[Service]
Type=forking

StandardOutput=file:{{ nsre_install_dir }}/nsre.log
StandardError=file:{{ nsre_install_dir }}/nsre-error.log
#SyslogIdentifier=<your program identifier> # without any quote

WorkingDirectory={{ nsre_install_dir }}
#PIDFile=/run/nagios-api.pid
ExecStart={{ nsre_install_dir }}/nsre.sh -c nsre.yaml {{ nsre_command_options }}
#ExecReload=/bin/kill -s HUP $MAINPID
# Having non-zero Limit*s causes performance problems due to accounting overhead
# in the kernel. We recommend using cgroups to do container-local accounting.
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
# Uncomment TasksMax if your systemd version supports it.
# Only systemd 226 and above support this version.
#TasksMax=infinity
TimeoutStartSec=0
# kill only the nagios-api process, not all processes in the cgroup
KillMode=process
# restart the nagios-api process if it exits prematurely
Restart=on-failure
StartLimitBurst=3
StartLimitInterval=60s

[Install]
WantedBy=multi-user.target
