port: "{{ nsre_port|default(8000) }}"
serverdomain: "{{ nsre_serverdomain|default('localhost') }}"

# Used in client mode to send to the server
serverurl: "{{ nsre_serverurl|default('http://localhost:8000') }}"
jwtkey: "{{ nsre_jwtkey }}"
sslcert: "{{ nsre_sslcert|default('') }}"
sslkey: "{{ nsre_sslkey|default('') }}"

logdbpath: "{{ nsre_dbpath|default('logs.db') }}"
logretention: "{{ nsre_logretention|default('90d') }}"

# commands list to allow remote execution.
commands: "{{ nsre_commands }}"

logfiles: "{{ nsre_logfiles }}"

passwordfilterpatterns: "{{ nsre_passwordfilterpatterns }}"

dbtimeout: "{{ nsre_dbtimeout|default('45s') }}"

appgoogleclientid: "{{ nsre_appgoogleclientid|default('') }}"
appgoogleclientsecret: "{{ nsre_appgoogleclientsecret|default('') }}"

sessionkey: "{{ nsre_sessionkey }}"

{{ nsre_authorizeddomain }}

awslogs: "{{ nsre_awslogs }}"

nsre_letsencryptenabled: {{ nsre_letsencryptenabled|default(false) }}
nsre_letsencryptemail: {{ nsre_letsencryptemail|default('someone@somedomain') }}
